:root {
	--full-black: #000;
	--full-white: #fff;
	--text-white: #f0f0f0;
	--gray: #333;
	--dark-gray: #121212;
   }

#html {
	height: 100%;
	width: 100%;
	background-color: var(--full-black);
}

body {
	font-size: 16pt;
	font-family: system-ui, -apple-system, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--full-black);
	color: var(--text-white);
	margin-bottom: 50px;
}

.topnav {
	position: -webkit-sticky;
	/* For Safari */
	position: sticky;
	top: 0;
	z-index: 1000;
	overflow: hidden;
	background-color: rgba(18, 18, 18, 0.75);
	border-bottom: 1px solid var(--gray);
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}


.topnav a {
	color: var(--text-white);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 12pt;
	font-weight: 600;
}

.topnav a:hover {
	color: var(--full-white);
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

.content {
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 15%;
	margin-right: 15%;
}

h1 {
	color: var(--text-white);
	text-align: center;
	display: block;
	font-size: 30pt;
	margin-block-start: 25px;
	margin-block-end: 25px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: 700;
}

p {
	color: var(--text-white);
	display: block;
	margin-block-start: 15px;
	margin-block-end: 15px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 16pt;
}

.flex-container {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.section-background {
	padding: 30px;
	position: relative;
	z-index: 1;
	background: var(--dark-gray);
	border-radius: 30px;
	display: flex;
}

.section {
	height: 100%;
}

.section-title {
	flex: 1;
	margin: 0px 15px;
	vertical-align: top;
	font-weight: 600;
}

.section-content {
	flex: 3;
	margin: 0px 15px;
	font-weight: 300;
}


/*

.toast {
	font-size: 15pt;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--full-white);
	padding: 15px 25px;
	border-radius: 10px;
	display: none;
	z-index: 9999;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	margin-top: 20px;
}

.grid-card {
	background-color: #090909;
	border: 1px solid var(--full-black);
	border-radius: 20px;
	padding: 20px;
	transition: all 0.3s ease;
}

.grid-card:hover {
	background-color: #fefefe;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


a {
	color: #0071E3;
	text-decoration: none;
	transition: all 0.3s ease;
}

a:hover,
a:visited:hover {
	text-decoration: underline;
}
*/